body {
    font-family: Arial, sans-serif;
    background-color: #cfb6f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgb(244, 195, 248);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(6, 2, 2, 0.982);
    width: 350px;
    text-align: center;
    height: 200px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

form input {
    width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

form button {
    background-color: #a600ff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    width: 300px;
}

form button:hover {
    background-color: #8a005e;
}
